absl-py==0.9.0
actionlib==1.12.0
angles==1.9.12
arff2pandas==1.0.1
astroid==2.3.3
audioread==2.1.8
bondpy==1.8.3
cachetools==4.1.0
camera-calibration==1.14.0
camera-calibration-parsers==1.11.13
catkin==0.7.23
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
collections-extended==1.0.3
colorama==0.4.3
controller-manager==0.18.0
controller-manager-msgs==0.18.0
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.4.2
deepdish==0.3.6
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.6.3
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
google-auth==1.14.1
google-auth-oauthlib==0.4.1
grpcio==1.28.1
h5py==2.10.0
idna==2.9
image-geometry==1.13.0
interactive-markers==1.11.5
isort==4.3.21
joblib==0.14.1
joint-state-publisher==1.12.15
kdl-parser-py==1.13.1
kiwisolver==1.2.0
laser-geometry==1.6.5
lazy-object-proxy==1.4.3
liac-arff==2.4.0
librosa==0.7.2
llvmlite==0.32.0
Markdown==3.2.1
matplotlib==3.2.1
mccabe==0.6.1
message-filters==1.14.5
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numba==0.49.0
numexpr==2.7.1
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
pandas==1.0.3
Pillow==7.0.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
python-qt-binding==0.4.0
pytz==2019.3
PyYAML==5.3.1
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
requests==2.23.0
requests-oauthlib==1.3.0
resampy==0.2.2
resource-retriever==1.12.6
scikit-learn==0.22.2.post1
scipy==1.4.1
sensor-msgs==1.12.7
six==1.14.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
SoundFile==0.10.3.post1
tables==3.6.1
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.5
tqdm==4.46.0
typed-ast==1.4.1
typing==3.6.4
urdfdom-py==0.4.3
urllib3==1.25.9
webrtcvad==2.0.10
Werkzeug==1.0.1
wget==3.2
wrapt==1.12.1
xacro==1.13.5
